html {
    background-color: #eeeeee;
}

/* -------------------- Page -------------------- */
.container{
    width: 80%;
    margin: auto;
    background-color: #ffffff;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.intro{
    width: 100%;
    margin-right:0;
}

.title{
    font-size: 32px;
    font-weight: bold;
    border-bottom:2px solid grey;

    margin-top: 18px;
    margin-bottom: 18px;
}

ul{
    margin-top: 8px;
    margin-bottom: 8px;
}

/* ------- TOC ------- */

.toc {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
}

.tocright {
    float: right;
    clear: right;
    width: auto;
    background: none;
    margin-bottom: .5em;
}

.toc ul {
    list-style: none;
    margin: 0.3em 0;
    padding: 0;
    /* text-align: left; */
}

.toc .toctitle {
    text-align: center;
}

.tocnumber {
    color: #202122;
    padding-left: 0;
    padding-right: 0.5em;
}

.tocnumber, .toctext {
    display: table-cell;
    text-decoration: none;
}


/* -------------------- Publication -------------------- */
a {
    color: #7395c5;
}

a:visited {
    color: #7395c5;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 使得引用texbib自动换行 */
.pre-white-space {
    white-space: pre;
}

.bibref {
    margin-top: 10px;
    margin-left: 10px;
    display: none;
    /* font-size: 14px; */
    font-family: monospace;
}

.link2 {
    text-decoration: none;
    display: inline;
    margin-right: 5px;
}

dd {
    margin-left: 0;
}


.ptitle{
    /*color: #000000;*/
    font-weight: bold;
}

.publication {
    border-left: 3px #337ab7 solid;
}

.description{
    margin-left: 20px;
}

.figure{
    float: right;
    border-style:solid;
    border-width: 1px;
    
}

.figure img{
    /* width:150px; */
    /* height: 80px; */
    height: 85px;
}

.me{
    color:#2361b8;
}
